%position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%font-a {
    font-family: "DM Sans";
    font-style: normal;
}
%font-b {
    font-family: Roboto;
    font-style: normal;
}