$white-stand: #FFF;
$text-lighten: #E0E0E0;
$white-a: #DCE8F2;
$main-red: #DD2242;
$black-stand: black;
$black-x: #000;
$black-y: #010A20;
$black-r: #020C21;
$black-a: #020B20;
$gold-stand: gold;
$grey-x: #939393;
$paragraph-dark: #6F7787;